@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.Errormsg {
  color: rgb(219, 34, 34);
  font-weight: 500;
  font-size: 14px;
}
.content_stock {
  width: 100%;
  padding: 100px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tabs {
  width: 60%;
  margin-left: 200px;
  margin-bottom: 20px;
}
.logout {
  width: fit-content;
  align-self: flex-end;
}

.ant-tabs-nav-list {
  color: #e9b44b !important;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background-color: #e9b44b !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e9b44b !important;
}
.ant-tabs-tab {
  color: #111;
}
.ant-tabs-tab:hover {
  color: #e9b44b !important;
}
.ant-tabs-content-holder {
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .tabs {
    width: 100%;
    margin-left: 0;
  }
  .content_stock {
    padding: 40px;
  }
}
